name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
<<<<<<< HEAD
=======
        with: go version go1.25.5 darwin/arm64
>>>>>>> 1604a987557db66653603a6ac66906b4fe803954
        with:
          go version go1.25.5 darwin/arm64

      - name: Force Failure
        run: (exit 0)
